<mat-sidenav-container autosize="true">
    <mat-sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item (click)="view = 'files'">
                <span [className]="view == 'files' ? 'entry selected-nav': 'entry'">
                    <mat-icon>folder</mat-icon>
                </span>
            </a>
            <a mat-list-item (click)="view = 'apis'">
                <span [className]="view == 'apis' ? 'entry selected-nav': 'entry'">
                    <mat-icon>api</mat-icon>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>apps</mat-icon>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>library_books</mat-icon>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        @if (view === 'files') { <sd-browser></sd-browser> }
        @if (view === 'apis') { <sd-api-browser></sd-api-browser> }
        @if (view === 'apps') { Apps }
        @if (view === 'docs') { Docs }
    </mat-sidenav-content>
</mat-sidenav-container>