<mat-sidenav-container autosize="true">
    <mat-sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="files">
                <span [className]="router.url == '/files' ? 'entry selected-nav': 'entry'">
                    <mat-icon>folder</mat-icon>
                </span>
            </a>
            <a mat-list-item routerLink="apis">
                <span [className]="router.url.startsWith('/apis') ? 'entry selected-nav': 'entry'">
                    <mat-icon>api</mat-icon>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>apps</mat-icon>
                </span>
            </a>
            <a mat-list-item>
                <span class="entry">
                    <mat-icon>library_books</mat-icon>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
