.p-tabview .p-tabview-panels {
    padding: 0;
}

.p-scrollpanel-content {
    padding: 0 18px 0 0 !important;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    width: 50px;

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

.mdc-list-item {
    padding: 0;
}

.selected-nav {
    border-left: 2px lightgray solid;
}