<div style="height: 100%;">
  <as-split direction="horizontal" gutterSize="6" style="--as-gutter-background-color: #26292f;">
    <as-split-area [size]="30">
      <sd-file-tree (change)="onSelect($event)"></sd-file-tree>
    </as-split-area>
    <as-split-area [size]="70">
      @if (node) { <sd-file-view [node]="node"></sd-file-view> }
    </as-split-area>
  </as-split>
</div>