<div style="height: 100%;">
    <as-split direction="horizontal" gutterSize="6" style="--as-gutter-background-color: #26292f;">
      <as-split-area [size]="30">
        <sd-api-tree></sd-api-tree>
      </as-split-area>
      <as-split-area [size]="70">
        @if (node?.isDirOrFile()) { <sd-file-view [node]="node!.toFileNode()"></sd-file-view> }
        @else if (node && node.kind === 'operation') { <sd-operation-view [node]="node"></sd-operation-view> }
        @else if (node) { {{node.path}} }
      </as-split-area>
    </as-split>
  </div>