<div class="file-view-wrapper">
  <div class="file-view-header">
    <div class="file-view-title">{{node.path}}</div>

    <div class="file-view-button-bar">
      <button mat-icon-button type="button" matTooltip="Bookmark" (click)="bookmark()">
        <mat-icon>bookmark-add</mat-icon>
      </button>
      <a href="{{getUrl()}}">
        <button mat-icon-button matTooltip="Download">
          <mat-icon>download_outline</mat-icon>
        </button>
      </a>
      <input #uploadFile type="file" id="uploadFile" style="display: none;" (change)="onUpload($event)"/>
      <button mat-icon-button matTooltip="Upload" (click)="uploadFile.click()">
        <mat-icon>upload_outline</mat-icon>
      </button>

      @if (isSwitchableMode()) {
      <button mat-icon-button type="button" (click)="toggleMode()"
        [matTooltip]="mode === 'preview' ? 'View code' : 'Hide code'">
        <mat-icon>code</mat-icon>
      </button>
      }

      @if (mode === 'editor') {
      <button mat-icon-button type="button" matTooltip="Save" (click)="save()" [disabled]="!isUpdated()">
        <mat-icon>save</mat-icon>
      </button>
      }

    </div>
  </div>

  <div class="file-view-content">
    @if (mode === 'editor') {
    <sd-editor [path]="type === 'dir' ? node.path + 'readme.md' : node.path "></sd-editor>
    }

    @if (mode === 'preview') {
    @switch (type) {
    @case ('oas') { <sd-swagger-ui [path]="node.path"></sd-swagger-ui> }
    @case ('markdown') { <div markdown [src]="getUrl()" class="markdown"></div> }
    @case ('dir') {
      <div *ngIf="isReadmeExists" markdown [src]="getReadmeUrl()" class="markdown"></div>
      <div *ngIf="isLoaded && !isReadmeExists">
        <p>Możesz dodać opis tego katalagu. Kliknij ikonkę edycji (<mat-icon>code</mat-icon>).</p>
        <p>Opis będzie zapisany w pliku readme.md (markdown format). Do jego wyświetlenia będzie użyta <a
            ref="https://github.com/jfcere/ngx-markdown">ngx-markdown</a>.</p>
      </div>
    }
    @default { <p>Unknown file type.</p>}
    }
    }
  </div>
</div>
