:host {
    padding: 0 0;
}

.file-view-wrapper {
    flex-flow: column;
    display: flex;
    height: 100%;
    background-color: var(--mat-tree-container-background-color, var(--mat-app-surface));
}

.file-view-header {
    height: 2em;
    padding: 5px 10px;
    flex: 0 1 auto;
    color: var(--mat-tree-node-text-color, var(--mat-app-on-surface));
    position: relative;
    border-bottom: var(--mat-tree-node-text-color, var(--mat-app-on-surface)) solid 2px;
}

.file-view-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.file-view-button-bar {
    float:right;
}

.file-view-content {
    flex: 1 1 auto;
    position: relative;
    background-color: white;
    color: black;

    .markdown {
        margin: 0.5em;
    }
}
