<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>{{data.inputLabel}}</mat-label>
    <input matInput [(ngModel)]="value" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="value()" cdkFocusInitial>{{data.confirmLable}}</button>
</mat-dialog-actions>