:host {
   overflow: auto;
}

.mat-tree {
   height: 100%;
   background-color: #1e2024;
}

.mat-tree-node {
   min-height: 1rem;
}

.mat-tree-node:hover {
   background-color: #26292f;
}

.selected-node {
   background-color: #37373d !important;
}

.actions {
   flex-grow: 100;
}

.actions button {
   float: right;
}

mat-tree button {
   width: 24px !important;
   height: 24px !important;
   padding: 0px !important;
   display: inline-flex !important;
   align-items: center;
   justify-content: center;

   &>*[role=img] {
      width: 16px;
      height: 16px;
      font-size: 16px;

      svg {
         width: 16px;
         height: 16px;
      }
   }

   .mat-mdc-button-touch-target {
      width: 24px !important;
      height: 24px !important;
   }
}
