<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" [expansionKey]="expansionKey"
  class="browser-tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle matTreeNodePaddingIndent="{{indent}}"
    (click)="onSelect(node)" (mouseenter)="onMouseEnter(node)" (mouseleave)="onMouseLeave()"
    [class.selected-node]="node === selected">
    <button mat-icon-button disabled></button>
    {{node.name}}
    <div class="actions" [hidden]="node !== selected && node !== focused">
      <button mat-icon-button matTooltip="Delete" (click)="onDelete(node); $event.stopPropagation()">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Rename" (click)="onRename(node); $event.stopPropagation()">
        <mat-icon>mode_edit_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cut" (click)="onCutStart(node); $event.stopPropagation()">
        <mat-icon>content_cut_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Copy" (click)="onCopyStart(node); $event.stopPropagation()">
        <mat-icon>content_copy_outline</mat-icon>
      </button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isRoot" (click)="onSelect(node)"
    [class.selected-node]="node === selected">
    <mat-icon>home</mat-icon>
    <div class="actions">
      <button mat-icon-button (click)="refresh(node)">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [cdkTreeNodeTypeaheadLabel]="node.name"
    matTreeNodePaddingIndent="{{indent}}" (click)="onSelect(node)" (mouseenter)="onMouseEnter(node)"
    (mouseleave)="onMouseLeave()" [class.selected-node]="node === selected">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <div class="actions" [hidden]="node !== selected && node !== focused">
      <button mat-icon-button matTooltip="Delete" (click)="onDelete(node); $event.stopPropagation()">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Rename" (click)="onRename(node); $event.stopPropagation()">
        <mat-icon>mode_edit_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Cut" (click)="onCutStart(node); $event.stopPropagation()">
        <mat-icon>content_cut_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Copy" (click)="onCopyStart(node); $event.stopPropagation()">
        <mat-icon>content_copy_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Paste"
        (click)="onPaste(node); $event.stopPropagation()"
        [disabled]="(toCopy == undefined || !node.allowCopyInto(toCopy)) && (toMove == undefined || !node.allowCopyInto(toMove))">
        <mat-icon>content_paste_outline</mat-icon>
      </button>
    </div>
  </mat-tree-node>

</mat-tree>