/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
html,
body {
    height: 100%;
    margin: 0;
}

// monaco-editor
.editor-container {
    height: 100% !important;
}

// swagger-ui
#swagger-ui .swagger-ui .info {
    margin: 10px 0;
}

// mermaid
#graphDiv {
    height: 100%;
    width: 100%;
}

.nodeLabel .header {
    font-size: 1.2em;
    margin: 0px;
}

.nodeLabel ul {
    border-top: 1px solid gray;
    padding-inline-start: 0px;
    white-space: normal;
    padding-top: 0.2em;
    margin-top: 0.2em;
}

.nodeLabel li {
    text-align: left;
    list-style-type: none;
}

.requiredMarkt {
    color: red;
}

.parameterType {
    color: gray;
    font-style: italic;
    font-size: smaller;
}