<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" [expansionKey]="expansionKey"
  class="browser-tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle matTreeNodePaddingIndent="{{indent}}"
    (click)="onSelect(node)" (mouseenter)="onMouseEnter(node)" (mouseleave)="onMouseLeave()"
    [class.selected-node]="node === selected">
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isRoot" (click)="onSelect(node)"
    [class.selected-node]="node === selected">
    <mat-icon>home</mat-icon>
    <div class="actions">
      <button mat-icon-button (click)="refresh(node)">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [cdkTreeNodeTypeaheadLabel]="node.name"
    matTreeNodePaddingIndent="{{indent}}" (click)="onSelect(node)" (mouseenter)="onMouseEnter(node)"
    (mouseleave)="onMouseLeave()" [class.selected-node]="node === selected">
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>

</mat-tree>